@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
  margin: 20px;
}

a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
}
nav {
  background-color: #000000;
  color: #000000;
  padding: 10px 0;
  text-align: center;
}

div {
  text-align: center;
  background-color: rgb(228, 230, 232);
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  background-color: #e7e4e4;
}
